@charset "utf-8";

table td {
  width: 70px;
}

#tableName {
  width: 70px;
}

.textbox {
  width: 50px;
  padding: 2px 3px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #ccc;
  box-sizing: border-box;
}
