<!DOCTYPE HTML>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Edit</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link th:href="@{/style/style.css}" rel="stylesheet">
    </head>

    <body>
        <fieldset>
            <legend>衣装</legend>
            <form method="get" action="#" th:object="${SearchForm}"
                id="editForm">
                <span th:each="item : ${tableName}">
                    <input type="radio" th:value="${item.characterName}"
                        th:field="*{tableNameChecks}" />
                    <label th:for="${#ids.prev('tableNameChecks')}"
                        th:text="${item.viewName}"></label>
                </span>
            </form>
        </fieldset>
        <p class="wrap">
            <button th:formaction="@{/update}" form="editForm"
                class="btn semicircle light-blue-purple">編集</button>
            <button th:formaction="@{/insert}" form="editForm"
                class="btn semicircle light-green">登録</button>
        </p>
    </body>
</html>