<!DOCTYPE html>
<html lang="ja" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Update</title>
        <!-- BootStrap css -->
        <link
            th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous">
        <link th:href="@{/style/style.css}" rel="stylesheet">
        <link th:href="@{/style/edit.css}" rel="stylesheet">
        <link th:href="@{/style/update.css}" rel="stylesheet">
    </head>

    <body>
        <nav>
            <ul>
                <li><a th:href="@{/edit}">編集</a></li>
            </ul>
        </nav>
        <table>
            <tbody>
                <tr>
                    <th> </th>
                    <th>キャラクター</th>
                    <th>レア度</th>
                    <th>タイプ</th>
                    <th>バディ１</th>
                    <th>バディ２</th>
                    <th>バディ３</th>
                    <th>魔法１</th>
                    <th>魔法２</th>
                    <th>魔法３</th>
                    <th>デュオ</th>
                    <th>初期HP</th>
                    <th>初期ATK</th>
                    <th>最大HP</th>
                    <th>最大ATK</th>
                    <th>所持</th>
                    <th>バディ１効果</th>
                    <th>バディ２効果</th>
                    <th>バディ３効果</th>
                    <th>魔法１効果</th>
                    <th>魔法２効果</th>
                    <th>魔法３効果</th>
                    <th> </th>
                </tr>
                <th:block th:each="record , st: ${cardList}">
                    <tr>
                        <th th:text="${record.clothingName}"></th>
                        <td th:text="${record.name.viewName}"></td>
                        <form th:form="'cardForm' + ${st.index}" method="post"
                            th:id="'cardForm' + ${st.index}"
                            th:object="${CardForm}" th:action="@{/update}">
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputRare"
                                    th:id="'inputRare' + ${st.index}" />
                                <span th:text="${record.rare}"></span>
                                <select th:name="rare" class="selectbox"
                                    th:id="'selectRare' + ${st.index}">
                                    <option th:each=" option: ${rare}"
                                        th:value="${option.elementName}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputType"
                                    th:id="'inputType' + ${st.index}" />
                                <span th:text="${record.type}"></span>
                                <select th:name="type" class="selectbox type"
                                    th:id="'selectType' + ${st.index}">
                                    <option th:each=" option: ${type}"
                                        th:value="${option.elementName}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputBuddy1"
                                    th:id="'inputBuddy1' + ${st.index}" />
                                <span
                                    th:text="${record.buddy1.viewName}"></span>
                                <select th:name="buddy1" class="selectbox name"
                                    th:id="'selectBuddy1' + ${st.index}">
                                    <option th:each=" option: ${characterName}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputBuddy2"
                                    th:id="'inputBuddy2' + ${st.index}" />
                                <span
                                    th:text="${record.buddy2.viewName}"></span>
                                <select th:name="buddy2" class="selectbox name"
                                    th:id="'selectBuddy2' + ${st.index}">
                                    <option th:each=" option: ${characterName}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}"></option>
                                </select>
                            </td>
                            <td><input type="checkbox" class="checkbox-icon"
                                    name="inputBuddy3"
                                    th:id="'inputBuddy3' + ${st.index}" />
                                <span
                                    th:text="${record.buddy3.viewName}"></span>
                                <select th:name="buddy3" class="selectbox name"
                                    th:id="'selectBuddy3' + ${st.index}">
                                    <option th:each=" option: ${characterName}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic1"
                                    th:id="'inputMagic1' + ${st.index}" />
                                <th:block
                                    th:switch="${record.magic1.magicType}">
                                    <span th:case="'FIRE'" th:class='fire'
                                        th:text="${record.magic1.viewName}"></span>
                                    <span th:case="'WATER'" th:class='water'
                                        th:text="${record.magic1.viewName}"></span>
                                    <span th:case="'LEAF'" th:class='leaf'
                                        th:text="${record.magic1.viewName}"></span>
                                    <span th:case="*"
                                        th:text="${record.magic1.viewName}"></span>
                                </th:block>
                                <select th:name="magic1"
                                    class="selectbox magic"
                                    th:id="'selectMagic1' + ${st.index}">
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='-'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='FIRE'"
                                        th:class='fire'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='WATER'"
                                        th:class='water'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='LEAF'"
                                        th:class='leaf'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='VOID'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic2"
                                    th:id="'inputMagic2' + ${st.index}" />
                                <th:block
                                    th:switch="${record.magic2.magicType}">
                                    <span th:case="'FIRE'" th:class='fire'
                                        th:text="${record.magic2.viewName}"></span>
                                    <span th:case="'WATER'" th:class='water'
                                        th:text="${record.magic2.viewName}"></span>
                                    <span th:case="'LEAF'" th:class='leaf'
                                        th:text="${record.magic2.viewName}"></span>
                                    <span th:case="*"
                                        th:text="${record.magic2.viewName}"></span>
                                </th:block>
                                <select th:name="magic2"
                                    class="selectbox magic"
                                    th:id="'selectMagic2' + ${st.index}">
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='-'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='FIRE'"
                                        th:class='fire'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='WATER'"
                                        th:class='water'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='LEAF'"
                                        th:class='leaf'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='VOID'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic3"
                                    th:id="'inputMagic3' + ${st.index}" />
                                <th:block
                                    th:switch="${record.magic3.magicType}">
                                    <span th:case="'FIRE'" th:class='fire'
                                        th:text="${record.magic3.viewName}"></span>
                                    <span th:case="'WATER'" th:class='water'
                                        th:text="${record.magic3.viewName}"></span>
                                    <span th:case="'LEAF'" th:class='leaf'
                                        th:text="${record.magic3.viewName}"></span>
                                    <span th:case="*"
                                        th:text="${record.magic3.viewName}"></span>
                                </th:block>
                                <select th:name="magic3"
                                    class="selectbox magic"
                                    th:id="'selectMagic3' + ${st.index}">
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='-'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='FIRE'"
                                        th:class='fire'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='WATER'"
                                        th:class='water'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='LEAF'"
                                        th:class='leaf'
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                    <option
                                        th:each=" option: ${magic}"
                                        th:if="${option.magicType}=='VOID'"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputDuo"
                                    th:id="'inputDuo' + ${st.index}" />
                                <span
                                    th:text="${record.duo.viewName}"></span>
                                <select th:name="duo" class="selectbox name"
                                    th:id="'selectDuo' + ${st.index}">
                                    <option th:each=" option: ${characterName}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMinHp"
                                    th:id="'inputMinHp' + ${st.index}" />
                                <span
                                    th:text="${record.minHp}"></span>
                                <input type="text" th:name="minHp"
                                    th:value="${record.minHp}"
                                    class="textbox"
                                    th:id="'selectMinHp' + ${st.index}" />
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMinAtk"
                                    th:id="'inputMinAtk' + ${st.index}" />
                                <span
                                    th:text="${record.minAtk}"></span>
                                <input type="text" th:name="minAtk"
                                    th:value="${record.minAtk}"
                                    class="textbox"
                                    th:id="'selectMinAtk' + ${st.index}" />
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMaxHp"
                                    th:id="'inputMaxHp' + ${st.index}" />
                                <span
                                    th:text="${record.maxHp}"></span>
                                <input type="text" th:name="maxHp"
                                    th:value="${record.maxHp}"
                                    class="textbox"
                                    th:id="'selectMaxHp' + ${st.index}">
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMaxAtk"
                                    th:id="'inputMaxAtk' + ${st.index}" />
                                <span
                                    th:text="${record.maxAtk}"></span>
                                <input type="text" th:name="maxAtk"
                                    th:value="${record.maxAtk}"
                                    class="textbox"
                                    th:id="'selectMaxAtk' + ${st.index}">
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputValidFlg"
                                    th:id="'inputValidFlg' + ${st.index}" />
                                <th:block
                                    th:switch="${record.validFlg}">
                                    <span th:case="true"
                                        th:text="所持"></span>
                                    <span th:case="false"
                                        th:text="未所持"></span>
                                </th:block>
                                <select th:name="validFlg"
                                    class="selectbox valid"
                                    th:id="'selectValidFlg' + ${st.index}">
                                    <option th:value="true"
                                        th:text="所持"></option>
                                    <option th:value="false"
                                        th:text="未所持"></option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputBuddy1Grouping"
                                    th:id="'inputBuddy1Grouping' + ${st.index}" />
                                <span
                                    th:text="${record.buddy1Grouping.effect}"></span>
                                <select th:name="buddy1Grouping"
                                    class="selectbox buddyGrouping"
                                    th:id="'selectBuddy1Grouping' + ${st.index}">
                                    <option
                                        th:each=" option: ${buddyGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.effect}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputBuddy2Grouping"
                                    th:id="'inputBuddy2Grouping' + ${st.index}" />
                                <span
                                    th:text="${record.buddy2Grouping.effect}"></span>
                                <select th:name="buddy2Grouping"
                                    th:id="'selectBuddy2Grouping' + ${st.index}"
                                    class="selectbox buddyGrouping">
                                    <option
                                        th:each=" option: ${buddyGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.effect}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="'inputBuddy3Grouping' + ${st.index}"
                                    th:id="inputBuddy3Grouping" />
                                <span
                                    th:text="${record.buddy3Grouping.effect}"></span>
                                <select th:name="buddy3Grouping"
                                    th:id="'selectBuddy3Grouping' + ${st.index}"
                                    class="selectbox buddyGrouping">
                                    <option
                                        th:each=" option: ${buddyGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.effect}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic1BuffdebuffGrouping"
                                    th:id="'inputMagic1BuffdebuffGrouping' + ${st.index}" />
                                <span
                                    th:text="${record.magic1BuffdebuffGrouping.viewName}"></span>
                                <select th:name="magic1BuffdebuffGrouping"
                                    th:id="'selectMagic1BuffdebuffGrouping' + ${st.index}"
                                    class="selectbox buffDebuffGrouping">
                                    <option
                                        th:each=" option: ${buffDebuffGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic2BuffdebuffGrouping"
                                    th:id="'inputMagic2BuffdebuffGrouping' + ${st.index}" />
                                <span
                                    th:text="${record.magic2BuffdebuffGrouping.viewName}"></span>
                                <select th:name="magic2BuffdebuffGrouping"
                                    th:id="'selectMagic2BuffdebuffGrouping' + ${st.index}"
                                    class="selectbox buffDebuffGrouping">
                                    <option
                                        th:each=" option: ${buffDebuffGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" class="checkbox-icon"
                                    name="inputMagic3BuffdebuffGrouping"
                                    th:id="'inputMagic3BuffdebuffGrouping' + ${st.index}" />
                                <span
                                    th:text="${record.magic3BuffdebuffGrouping.viewName}"></span>
                                <select th:name="magic3BuffdebuffGrouping"
                                    th:id="'selectMagic3BuffdebuffGrouping' + ${st.index}"
                                    class="selectbox buffDebuffGrouping">
                                    <option
                                        th:each=" option: ${buffDebuffGrouping}"
                                        th:value="${option.name}"
                                        th:text="${option.viewName}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input type="hidden" th:name="tableName"
                                    th:value="${record.tableName.name}" />
                                <input type="hidden" th:name="name"
                                    th:value="${record.name.name}" />
                                <input type="hidden" th:name="tableViewName"
                                    th:value="${record.tableName.viewName}" />
                                <input type="hidden" th:name="characterViewName"
                                    th:value="${record.name.viewName}" />
                                <button th:formaction="@{/update}"
                                    type="button" th:id="'submit' + ${st.index}"
                                    class="btn submit light-blue-purple">更新</button>
                            </td>
                        </form>
                    </tr>
                </th:block>
            </tbody>
        </ta>
        <!--/*Bootstrapのモーダルウィンドウ*/-->
        <div class="modal fade" tabindex="-1" id="successMsg"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">完了</h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="modal"
                            data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <p th:if="${#lists.isEmpty(cardList)}">条件に一致するカードが存在しません</p>
        <p th:if="${validationError}"
            th:each="error : ${validationError}"></p>

        <!-- JQuery -->
        <script
            th:src="@{https://code.jquery.com/jquery-3.7.1.min.js}"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
        <script
            th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
        <script th:src="@{/style/update.js}"></script>
    </body>
</html>